<!--<like 
[likesCount]="tweet.likesCount"
[isActive]="tweet.isLiked" (change)="onchangeLike($event)"></like>-->
<!--<ngif-component></ngif-component>-->
<!--<switchcase-component></switchcase-component>-->
<!--<ngfor-component></ngfor-component>-->
<!--<ngfor-dection-component></ngfor-dection-component>-->
<!--<ngfor-trackby-component></ngfor-trackby-component>-->
<!--<ng-class></ng-class>-->
<!--<ng-style></ng-style>-->
<!--<safetraveloperator></safetraveloperator>-->
<!--<input type="text" [appInputFormat]="'uppercase'">-->
<!--<zippy title="Shipping Details">
    Shipping Details Content
</zippy>
<zippy title="Billing Details">
    Billing Details Content
</zippy>--->
<!--<contact></contact>-->
<!--<courseform></courseform>-->
<!--<signup-form></signup-form>-->
<!--<newcourseform></newcourseform>-->
<!--<password></password>--->
<!--<posts></posts>-->
<followers></followers>   