<form [formGroup]="form">
  <div class="from-group">
    <label for="oldpassword">Old password</label>
    <input type="password" id="oldpassword" class="form-control" formControlName="oldpassword">
  </div>
  <div *ngIf="Oldpass.touched && Oldpass.invalid" class="alert alert-danger" >
    <div *ngIf="Oldpass.errors.required">Old password is required</div>
    <div *ngIf="Oldpass.errors.inValidOldPassword">Old password is invalid</div>
  </div>
  <br>
  <div class="from-group">
    <label for="newpassword">New password</label>
    <input type="password" class="form-control" id="newpassword" formControlName="newpassword" >
  </div>
  <div *ngIf="Newpass.touched && Newpass.invalid" class="alert alert-danger" >
      <div *ngIf="Newpass.errors.required">New password is required</div>
  </div>
  <br>
  <div class="from-group">
    <label for="confirmpassword">Confirm password</label>
    <input type="text" id="confirmpassword" class="form-control" formControlName="confirmpassword">
  </div>
  <div *ngIf="Confirmpass.touched && Confirmpass.invalid" class="alert alert-danger" >
      <div *ngIf="Confirmpass.errors.required">Confirm password is required</div>
  </div>
  <br>
  <button class="btn btn-primary">Change password</button>
</form>
